<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-content>
      <form [formGroup]="validationForm" (ngSubmit)="register(validationForm.value)">
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validationMessages.email">
            <div class="error-message" *ngIf="validationForm.get('email').hasError(validation.type) && (validationForm.get('email').dirty || validationForm.get('email').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <ng-container *ngFor="let validation of validationMessages.password">
          <div class="error-message" *ngIf="validationForm.get('password').hasError(validation.type) && (validationForm.get('password').dirty || validationForm.get('password').touched)">
            {{ validation.message }}
          </div>
        </ng-container>
        <ion-button expand="full" type="submit" [disabled]="!validationForm.valid">Register</ion-button>
        <div>
          Already have an account? <a (click)="goLoginPage()">Login Here</a>
        </div>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
